* {
    box-sizing: border-box;
    margin: 0;
}

body { font-family: Helvetica, sans-serif;
font-weight:400;}

main { 
    text-align: center;
    margin: 50px;
}

#calc-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #2A2A3D;
}

#display {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 500px;
    height: 100px;
    margin: 50px auto 20px auto;
    background-color: #13131C;
    border-radius: 5px;
    color: white;  
    font-size: 70px;
    text-align: right;  
    padding: 20px;
    font-family: 'Orbitron', sans-serif;



}

#calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
    font-weight: 400;
}

.circle {
    display: flex;
    justify-content: center;
    color: white; 
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #13131C;
    border-radius: 50%;
    border: 2px solid #3C3C57;
}

.circle:active {
    background-color: #32324a;
}

button {
    width: 500px;
    height: 80px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #FF5252;
    color: white;  
    font-size: 40px;
}